<div class="col-xs-12 text-center alert alert-info" ng-if="!possuiTarefas">
    <h3>Não há tarefas :)</h3>
</div>
<div class="col-xs-12" ng-if="possuiTarefas">
    <h2>Lista de Tarefas</h2>
    <table class="table table-responsive">
        <tr>
            <thead>
                <th>
                    Feita
                </th>
                <th>
                    Prazo
                </th>
                <th>
                    Tarefa
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="t in tarefas" ng-class="{'text-through': t.feito}">
                    <td>
                        <input type="checkbox" ngModel="{{t.feito}}" ng-checked="t.feito" ng-click="onclickFeito($event, t.id)" />
                    </td>
                    <td>
                        {{t.prazo}}
                    </td>
                    <td>
                        {{t.tarefa}}
                    </td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>