<h2>Filtros</h2>
<form action="#">
    <div class="form-group">
        <label for="min">Preço Mínimo: <span id="minPreco"></span> {{min | currency: 'R$ '}}</label>
        <input type="range" ng-model="min" id="min" class="form-control" min="0" max="10000" value="0">
    </div>
    <div class="form-group">
        <label for="max">Preço Máximo: <span id="maxPreco"></span>{{max | currency: 'R$ '}}</label>
        <input type="range" ng-model="max" id="max" class="form-control" min="0" max="10000" value="10000">
    </div>
    <div class="form-group">
        <label >Palavra chave:</label>
        <input type="text" ng-model="keyword" id="keyword" class="form-control" />
    </div>
</form>
<div class="col-xs-12 col-sm-9">
    <h2>Produtos</h2>
    <p ng-show="listafinal.length===0">
        <img class="img-responsive" src="http://i0.kym-cdn.com/photos/images/newsfeed/000/096/044/trollface.jpg?1296494117"/>
    </p>
    <div class="row" id="produtos">
        <ul ng-repeat="p in produtos | filter: keyword | filter: filtro as listafinal">
            <li>
                <a href="#!/produto/{{p.id}}">
                    {{p.nome}} - {{p.preco | currency: 'R$ '}}
                </a>
            </li>
        </ul>
    </div>
</div>