<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head> 
    <body>
        <h1>upload de arquivos</h1>
        <form th:action="@{/upload}" enctype="multipart/form-data" action="/upload" method="post">
            <div>
                <input type="file" name="arquivo" />
                <input type="submit" value="enviar" />
            </div>
        </form>
        <div th:if="${msg != null}">
            <span th:text="${msg}">Mensagem do sistema</span>
        </div>
    </body>
</html>
