html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body>div:first-of-type {
    width: 50%;
    top: 10%;
    right: 0%;
    left: 0%;
    margin: auto;
    position: fixed;
    border: 1px dotted black;
    padding: 20px;
}

li{
    list-style-type: none;
}