.container-login {
    width: 400px;
    height: 300px;
    /*    min-height: 180px;*/
    top: 30%;
    right: 25%;
    bottom: 30%;
    left: 25%;
    margin: auto;
    position: absolute;
    border: 1px solid #827367;
    border-radius: 20px;
    background-color: hsla(280, 80%, 70%, .3);
    padding: 30px;
}

.titulo {
    border-bottom: 1px dotted #1b6d85;
    margin-bottom: 3px;
}

.titulo>label {
    font-size: 1.5em;
}
.msgFalha{
    border: 1px solid #827367;
    border-radius: 20px;
    width: 65%;
    margin-left: 17%;
    text-align: center;
}