.container-filme {
    width:300px;
    margin: 10px;
    height: 360px;
    border-radius: 10px;
    border: 1px hsl(50,50%,100%) solid;
    background-color: hsl(169, 56%, 22%);
    float: left;
}

p.titulo {
    color: hsl(169, 56%, 70%);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.sinopse {
    text-align: justify;
    color: hsl(0, 100%, 100%);
    font-size: .9em;
    margin: auto 5px;
}

.container-filme img {
    width: auto;
    height: 200px;
    margin: 5px auto;
}
.cat-filme {
    float: left;
    height: 16px;
    width: 16px;
    margin: auto 5px;
}