<html xmls:th="http://thymeleaf.org">
    <html>
        <head>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <h1>Produtos</h1>
            <div th:each="item:${produtos}">
                <p>Nome: <span th:text="${item.nome}"></span></p>
                <p>Valor: <span th:text="${item.preco}"></span></p>
                <p>Data de Cadastro: <span th:text="${item.dataCadastro}"></span></p>
            </div>
        </body>
    </html>
